@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
.gridPage {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: repeat(auto-fill, 1fr);
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column: 1/5;
}

.principal {
  grid-column: 1/5;
}

.footer {
  grid-column: 1/5;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}

.navbar {
  min-height: 100px;
  box-shadow: 0px 0px 2px black;
}
.navbar .navbar-brand {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bolder;
}
.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-brand span {
  color: rgb(12, 156, 156);
}
.navbar .container-fluid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar .navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 54%;
  flex-grow: 0;
}
.navbar .navbar-nav li a {
  color: rgb(12, 156, 156) !important;
}

.principal {
  padding-top: 15px;
  margin-top: 10px;
}
.principal .asistenciaLegal {
  width: 100%;
  height: 500px;
  background: url("../img/img_AsesoriaLegal.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
}
.principal .asistenciaLegal__titulo {
  display: block;
  height: 180px;
  background-color: rgba(12, 156, 156, 0.4784313725);
  line-height: 180px;
  text-align: center;
}
.principal .nuestrosServicios__subtitulo {
  background: #0c9c9c;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.principal .nuestrosServicios__grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  gap: 20px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
}
.principal .nuestrosServicios .nuestrosServicios__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
  background-color: rgb(5, 136, 136);
}
.principal .nuestrosServicios .nuestrosServicios__card .card__img {
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}
.principal .nuestrosServicios .nuestrosServicios__card .card__img img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.principal .nuestrosServicios .nuestrosServicios__card .card__title h3 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  color: white;
}
.principal .estadisticas {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
.principal .estadisticas__subtitle {
  color: white;
  background-color: #0c9c9c;
  height: 80px;
  line-height: 80px;
}
.principal .estadisticas__grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(600px, 0.1fr));
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.principal .estadisticas__grid .contenedor img {
  width: 100%;
  object-fit: cover;
}
.principal .nosotros {
  padding-top: 15px;
}
.principal .nosotros__title {
  color: white;
  background-color: #0c9c9c;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.principal .nosotros__flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.principal .nosotros__flex .contenedor {
  box-shadow: 0px 0px 10px black;
}
.principal .nosotros__flex .contenedor .nosotros__img {
  max-width: 500px;
}
.principal .nosotros__flex .contenedor .nosotros__img img {
  width: 100%;
  object-fit: cover;
}
.principal .nosotros__flex .contenedor .nosotros__text {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.principal .nosotros__flex .contenedor .nosotros__text a {
  background-color: #0c9c9c;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid black;
}/*# sourceMappingURL=main.css.map */