@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
.gridPage {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: repeat(auto-fill, 1fr);
  height: 100vh;
}

.header {
  grid-column: 1/5;
}

.principal {
  grid-column: 1/5;
}

.footer {
  grid-column: 1/5;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}

.navbar {
  min-height: 100px;
  box-shadow: 0px 0px 2px black;
}
.navbar .navbar-brand {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bolder;
}
.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-brand span {
  color: rgb(12, 156, 156);
  text-shadow: 1px 1px 2px black;
}
.navbar .container-fluid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar .navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 54%;
  flex-grow: 0;
}
.navbar .navbar-nav li a {
  color: rgb(12, 156, 156) !important;
}

.principal {
  padding-top: 15px;
  margin-top: 10px;
}
.principal .asistenciaLegal {
  width: 100%;
  height: 500px;
  background: url("../img/img_AsesoriaLegal.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
}
.principal .asistenciaLegal__titulo {
  display: block;
  height: 180px;
  background-color: rgba(12, 156, 156, 0.4784313725);
  line-height: 180px;
  text-align: center;
  color: white;
}
.principal .nuestrosServicios__subtitulo {
  background: #0c9c9c;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.principal .nuestrosServicios__grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  gap: 20px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
}
.principal .nuestrosServicios .nuestrosServicios__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
  background-color: rgb(5, 136, 136);
}
.principal .nuestrosServicios .nuestrosServicios__card .card__img {
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}
.principal .nuestrosServicios .nuestrosServicios__card .card__img img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.principal .nuestrosServicios .nuestrosServicios__card .card__title h3 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  color: white;
}
.principal .estadisticas {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
.principal .estadisticas__subtitle {
  color: white;
  background-color: #0c9c9c;
  height: 80px;
  line-height: 80px;
}
.principal .estadisticas__grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(600px, 0.1fr));
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.principal .estadisticas__grid .contenedor img {
  width: 100%;
  object-fit: cover;
}
.principal .nosotros {
  padding-top: 15px;
}
.principal .nosotros__title {
  color: white;
  background-color: #0c9c9c;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.principal .nosotros__flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.principal .nosotros__flex .contenedor {
  box-shadow: 0px 0px 10px black;
}
.principal .nosotros__flex .contenedor .nosotros__img {
  max-width: 500px;
}
.principal .nosotros__flex .contenedor .nosotros__img img {
  width: 100%;
  object-fit: cover;
}
.principal .nosotros__flex .contenedor .nosotros__text {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.principal .nosotros__flex .contenedor .nosotros__text a {
  background-color: #0c9c9c;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.nosotrosMain {
  display: grid;
  grid-template-rows: 320px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 600px), 0.3fr));
  justify-content: center;
  padding: 20px;
  column-gap: 20px;
}
.nosotrosMain__contenedor {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
}
.nosotrosMain__contenedor .nosotrosMain__title {
  color: #0C9C9C;
}
.nosotrosMain__contenedor p {
  text-align: justify;
}
.nosotrosMain__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px black;
}
.nosotrosMain__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nosotros__subtitle {
  color: white;
  background-color: #0c9c9c;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

p {
  text-align: justify;
}

.NosotrosCulturaOrganizacional {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
  padding: 20px;
  column-gap: 10px;
}
.NosotrosCulturaOrganizacional__vision, .NosotrosCulturaOrganizacional__mision, .NosotrosCulturaOrganizacional__valores {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  box-shadow: 0px 0px 4px black;
  overflow: hidden;
  border-radius: 5px;
}
.NosotrosCulturaOrganizacional__vision h3, .NosotrosCulturaOrganizacional__mision h3, .NosotrosCulturaOrganizacional__valores h3 {
  color: white;
  width: 100%;
  background-color: #0C9C9C;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}
.NosotrosCulturaOrganizacional__vision img, .NosotrosCulturaOrganizacional__mision img, .NosotrosCulturaOrganizacional__valores img {
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
}
.NosotrosCulturaOrganizacional__vision p, .NosotrosCulturaOrganizacional__mision p, .NosotrosCulturaOrganizacional__valores p {
  padding: 0 10px;
}

.equipo {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 0.1fr));
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
}
.equipo__title {
  color: white;
  background-color: #0c9c9c;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.equipo__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px black;
  border-radius: 20px;
}
.equipo__container--img img {
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
}
.equipo__container p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(2, 82, 156);
  font-size: 20px;
  padding: 5px;
}

.principal .serviciosMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal .serviciosMain__description {
  display: block;
  box-shadow: 0px 0px 4px black;
  margin-top: 40px;
  max-width: 800px;
  border-radius: 10px;
}
.principal .serviciosMain__description p {
  text-align: justify;
  padding: 0px 15px;
  font-weight: normal;
  font-size: 1rem;
}
.principal .serviciosMain__subtitle {
  text-align: center;
  color: #0F9D9D;
  text-shadow: 1px 1px 2px black;
}
.principal .services__cards {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  row-gap: 20px;
  margin-top: 20px;
}
.principal .services__cards .card__container {
  display: block;
  box-shadow: 0px 0px 5px black;
  max-width: 900px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.principal .services__cards .card__container--title {
  display: block;
  padding-left: 10px;
  font-size: 20px;
  max-width: 420px;
  background-color: #0F9D9D;
  border-bottom-right-radius: 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.principal .services__cards .card__container p {
  display: block;
  text-align: justify;
  padding: 20px;
}

.contactoMain {
  margin-top: 20px;
}
.contactoMain__title {
  color: #0C9C9C;
  text-align: center;
}
.contactoMain__formulario {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.contactoMain__formulario form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  max-width: 800px;
  min-width: 800px;
  row-gap: 20px;
  box-shadow: 0px 0px 6px black;
  padding: 40px;
  background-color: rgb(87, 177, 177);
}
.contactoMain__formulario form input, .contactoMain__formulario form textarea {
  padding: 10px;
  border-radius: 10px;
}
.contactoMain__oficinas--title {
  background: #0c9c9c;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  margin-bottom: 20px;
}
.contactoMain__oficinas--iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogNoticias {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.blogNoticias__title {
  color: #0c9c9c;
}
.blogNoticias__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 1000px;
  gap: 20px;
  margin: 10px;
}
.blogNoticias__container--img {
  display: block;
  overflow: hidden;
}
.blogNoticias__container--img img {
  display: block;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
}
.blogNoticias__container p {
  display: block;
  max-width: 400px;
  padding: 0px 20px;
}

.footer .footer__flex {
  display: flex;
  flex-flow: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid black;
}/*# sourceMappingURL=main.css.map */