.footer{
  
    .footer__flex{
        
        @include flex (row,nowrap);
        height: 100%;
      
        margin-top: 20px;
        border-top: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
    }    
}
