.gridPage{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    grid-template-areas: "header header header" 
                         "principal principal principal"
                         "footer footer footer";
}

.header{
   grid-area: header;
  
}
.principal{
    grid-area:principal;
  
    
}

.footer{
   
    grid-area: footer;
}