.gridPage{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: repeat(auto-fill, 1fr);
    height: 100vh;
    width: 100vw;
}

.header{
    grid-column: 1/5;
  
}
.principal{
    grid-column: 1/5;
  
    
}

.footer{
    grid-column: 1/5;
    
}