* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}

.navbar {
  min-height: 100px;
  box-shadow: 0px 0px 2px black;
  .navbar-brand {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
    
    img{
        max-width: 100px;
    }
    span {
      color: rgb(12, 156, 156);
      text-shadow: 1px 1px 2px black
    }
    }
    .container-fluid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .navbar-collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 54%;
      flex-grow: 0;
    }
    .navbar-nav {
      li {
        a {
          color: rgb(12, 156, 156) !important;
        }
      }
    }
 
}
