* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}

.navbar {
  min-height: 100px;
  box-shadow: $sombras;
  .navbar-brand {
    letter-spacing: 2px;
    font-size: map-get($tamaño-fuentes, grande );
    font-weight: bolder;
    
    img{
        max-width: 100px;
    }
    span {
      color: rgb(12, 156, 156);
      text-shadow: 1px 1px 2px black
    }
    }
    .container-fluid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .navbar-collapse {
     @include flex (row,nowrap);
      flex-basis: 54%;
      flex-grow: 0;
    }
    .navbar-nav {
      li {
        transition: 300ms;
        a {
          color:$colorPrincipal !important;
        }
           }
           li:hover{
          border-bottom: 3px solid $colorPrincipal;
           }
    }

 
}
